{% extends 'lib_dashboard/ldashboard.html' %}

{% block page_header %}Add to Library Collection{% endblock %}

{% block content %}

<div class="container">
    
    <form method="post" enctype="multipart/form-data">  
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title:</label>
            {{ form.title }}
        </div>

        <div class="form-group">
            <label for="author">Author:</label>
            {{ form.author }}
        </div>

        <div class="form-group">
            <label for="isbn">ISBN:</label>
            {{ form.isbn }}
        </div>

        <div class="form-group">
            <label for="publication_date">Publication Date:</label>
            {{ form.publication_date }}
        </div>

        <div class="form-group">
            <label for="cover_image">Cover Image:</label>
            {{ form.cover_image }}
        </div>

        <div class="form-group">
            <label for="stock">Stock:</label>
            {{ form.stock }}
        </div>

        <button type="submit" class="btn btn-primary">Add New Book</button>
    </form>
</div><br>
<div class="back-button-container">
    <a href="{% url 'ldashboard' %}" class="btn btn-primary">Back to Dashboard</a>
</div>
{% endblock %}
